MONGO_URI=mongodb+srv://hotelbackend:zxcvvcxz@cluster0.245yfua.mongodb.net/?appName=Cluster0
CLOUDINARY_CLOUD_NAME=zainmughal999
CLOUDINARY_API_KEY=744766614756274
CLOUDINARY_API_SECRET=F5uKFc-wILFbT2CW44eUJzDV8o8
FRONTEND_URL=https://demosekaispacehotelapp.vercel.app